/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Merriweather', Georgia, serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Archivo Black', Verdana, sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "typeface typeface typeface . ."
        "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    padding: 0 0 4rem 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
}
#tagline {
    text-align: center;
    font-size: 2rem;
}

#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3rem 0rem 0rem 2rem;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3rem 1rem 1rem 1rem;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3rem;
    margin: 0;
    font-size: 1.4rem;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 3rem 2rem 2rem 3rem;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1.15rem 5.5rem 0 0;
    font-size: 1.1rem;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 0rem 5.5rem 0 0;
    font-size: 1.1rem;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 3rem;
    margin: 4rem 3rem 0 0.5rem;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 2rem;
    font-size: 1.3rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #666;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    text-align: center;
}
/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen (max-width: 505px) {
    #container {
        grid-template-columns: repeat (2, 20%);
    }
    #container {
        grid-template-rows: repeat (9, auto);
    }
    #container {
        grid-template-areas:
        "header header"
        "arial georgia"
        "pairing pairing"
        "bobwhite-quail bobwhite-quail"
        "readability"
        "line-length"
        "helvetica"
        "typeface"
        "footer";
    }
    header img {
        display: none;
   }
}

